@import url('https://fonts.googleapis.com/css?family=Inter:400,500,700,900');

* {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030313;
}
